* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  margin-bottom: 45px;
    /* height: 100vh;                CHECK vh */
}

.app__header {
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app_headerImage {
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
 text-align: center; 
}