.imageUpload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
