.post {
    max-width: 500px; 
    background-color: white;
}

.post__image {
    object-fit: contain;
    width: 100%;
}

.post__text {
    font-weight: normal;
    padding:20px
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.post__avatar {
    margin-right: 2px;
}